@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --animate-sheen: sheen 2s infinite;
}

@keyframes sheen {
  0% {
    transform: rotateZ(60deg) translate(-5em, 5em);
  }
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}

.font-bengali {
  font-family: 'Hind Siliguri', sans-serif;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.cursor-blink {
  animation: blink 0.8s infinite;
}
